<ion-view title="Awards" id="page15" style="">
  <ion-content>
      <div class="card">
        <h1 class="positive" style="text-align:center;">Nevada PTA Awards Program</h1>
        <br />
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">PTA leaders and members bring innovative services to our kids, to our schools, and to our communities each and every day. Nevada PTA’s Awards Program is designed to recognize and share PTAs’ special programs and achievements, and to honor the people that help to make our schools and communities better for children.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">
          <u><a onclick="window.open('http://nevadapta.us2.list-manage2.com/track/click?u=a9b703c8a29ca49d505344d53&amp;id=f31553eedf&amp;e=212615cc12', '_system', 'location=yes'); return false;">Tap Here</a></u> for the Awards Packet, which includes information about each award and how to apply for it.</p>
        <h4 style="text-align:center;" class="padding-left padding-right">Award submissions are due to Nevada PTA’s office on Mon, March 7, 2016 by 3:00 pm.</h4>
        <h4 style="text-align:center;" class="padding-left padding-right">Membership Award submissions are due to Nevada PTA’s office on Fri, April 8, 2016 by 3:00 pm.</h4>
        <h3 class="positive" style="text-align:center;">
          <u><a onclick="window.open('http://nevadapta.us2.list-manage.com/track/click?u=a9b703c8a29ca49d505344d53&amp;id=ffde8699d0&amp;e=212615cc12', '_system', 'location=yes'); return false;">Nevada PTA Awards At a Glance</a></u>
        </h3>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Here is just a brief overview of the many different ways that your PTA can be recognized, and ways that your PTA can recognize special people in your school or community. (Not all of the awards are listed here; be sure to review the awards packet!)</p>
        <h4 style="text-align:justify;" class="padding-left padding-right">
          <u><a onclick="window.open('http://nevadapta.us2.list-manage.com/track/click?u=a9b703c8a29ca49d505344d53&amp;id=cc942be3ec&amp;e=212615cc12', '_system', 'location=yes'); return false;" class="positive">Nevada PTA Achievement Awards</a></u> – Look at your PTA’s calendar now to be sure that your PTA is sponsoring activities for each of the five Purposes of PTA.
          <u><a onclick="window.open('http://www.memberplanet.com/s/nevadapta/ptaachievementaward2016', '_system', 'location=yes'); return false;">Tap to apply online.</a></u>
        </h4>
        <ul class="list">
          <li class="item item-text-wrap">
            <b>• Outstanding PTA Achievement Award:</b> Awarded to a PTA who qualifies for the Gold PTA achievement award, and has an increase in membership, 90% staff membership, and participated in four (4) National or Nevada PTA Sponsored activities.</li>
          <li class="item item-text-wrap">
            <b>• Gold PTA Achievement Award:</b> Complete three (3) activities for each of the five Purposes of PTA.</li>
          <li class="item item-text-wrap">
            <b>• Silver PTA Achievement Award:</b> Complete one (1) activity for each of the five Purposes of PTA.</li>
          <li class="item item-text-wrap">
            <b>• Dixie Worden Humanitarian Award:</b> Given to a PTA that implements an outstanding activity or program that promotes the health and/or welfare of children.</li>
          <li class="item item-text-wrap">
            <b>• Spotlight Award:</b> Given to the PTA with the most outstanding PTA newsletter, social or multimedia message.</li>
          <li class="item item-text-wrap">
            <b>• Hank Etchemendy Advocacy Award:</b> Given to a PTA, volunteer, or other public official who has championed a cause that benefits children in the local area or throughout the state of Nevada.</li>
          <li class="item item-text-wrap">
            <b>• Male Engagement Award:</b> Given to a PTA that worked with their school or community to increase male involvement in a way that was measurable within the school.</li>

        </ul>
        <br />
        <h4 style="text-align:center;" class="padding-left padding-right">
          <u><a onclick="window.open('http://nevadapta.us2.list-manage.com/track/click?u=a9b703c8a29ca49d505344d53&amp;id=52614976b3&amp;e=212615cc12', '_system', 'location=yes'); return false;" class="positive">Nevada PTA Recognition Awards</a></u> – Recognize the special people in your PTA’s community.</h4>
        <ul class="list">
          <li class="item item-text-wrap">
            <b>• Ann T. Lynch Outstanding PTA Parent Award:</b> Parent, grandparent, guardian or other volunteer that provided outstanding service to a school or PTA and assisted in promoting the National Standards for Family-School Partnerships.</li>
          <li class="item item-text-wrap">
            <b>• Youth Participation Award:</b> Nominees for this award are students who are active in school and within the community.</li>
          <li class="item item-text-wrap">
            <b>• Teacher of the Year Award:</b> Teacher who effectively promotes National Standards for Family – School Partnerships.</li>
          <li class="item item-text-wrap">
            <b>• Lynel Cunningham Site Administrator of the Year:</b> Administrator who most effectively promotes National PTA Standards for Family-School Partnerships.</li>
          <li class="item item-text-wrap">
            <b>• Bob Huwe Community Engagement Award:</b> PTA and community organization, business or individual that collaborated to strengthen National PTA Family-School Partnerships.</li>
          <li class="item item-text-wrap">
            <b>• Sandy Miller Engagement and Diversity Award:</b> recognizes individuals or groups who have committed to embracing, enhancing, and celebrating diversity and family engagement at our schools.</li>
        </ul>
        <br />
        <h4 class="padding-left padding-right" style="text-align:center;">
          <u><a onclick="window.open('http://nevadapta.us2.list-manage.com/track/click?u=a9b703c8a29ca49d505344d53&amp;id=72326e1dd9&amp;e=212615cc12', '_system', 'location=yes'); return false;">Nevada PTA Membership Awards</a></u> – Recognition for the great job your PTA is doing with PTA membership this year!</h4>
        <ul class="list">
          <li class="item item-text-wrap">
            <b>• Building a Better Community Award:</b> Given to PTAs that have shown that they embrace this philosophy by making it their goal to reach out to their communities and to bring in members that are neither parents, teachers, nor students, but still feel that they are stakeholders in the education and well-being of all children.</li>
          <li class="item item-text-wrap">
            <b>• Men Matter Membership Award:</b> Given to PTAs that foster a positive atmosphere for, and actively recruiting membership of, men in their PTAs.</li>
          <li class="item item-text-wrap">
            <b>• 100% Membership:</b> PTA with the same number of members as students enrolled in the PTA’s school.</li>
          <li class="item item-text-wrap">
            <b>• 75% Membership:</b> PTA whose membership is 75% or more of the number of students enrolled in the PTA’s school.</li>
          <li class="item item-text-wrap">
            <b>• 100% Staff Membership:</b> PTA whose staff PTA members is the same as the number of licensed staff at the school.</li>
          <li class="item item-text-wrap">
            <b>• Nick Poulakidas Membership Promotion Award:</b> PTA with the best membership campaign as chosen by delegates to Nevada PTA’s convention. Bring your story board to show off your hard work.</li>

        </ul>
        <br />
        <h4 style="text-align:center;">Membership Awards that Your PTA Doesn’t Need to Apply For:</h4>
        <ul class="list">
          <li class="item item-text-wrap">
            <b>• The Early Bird Award:</b> Given to PTAs that make their first membership payment on or before October 29, 2015 AND the payment is for at least half of the PTA’s total members from the previous year. Only payments received in the office on or before October 29, 2015 are eligible.</li>
          <li class="item item-text-wrap">
            <b>• Membership Increase:</b> PTA that has more members for the current membership year than the previous year.</li>
          <li class="item item-text-wrap">
            <b>• Membership Award:</b> Given to 2 PTAs (one from Region 1,2, and one from Region 3) with the most members.</li>
        </ul>
      </div>
  </ion-content>
</ion-view>
