<ion-view title="Contact Us" id="page14" style="">
  <ion-content padding="true" class="has-header">
      <div class="card">
        <h1 class="positive" style="text-align:center;">Nevada PTA</h1>
        <br />
        <ul class="list">
          <li class="item item-text-wrap">6175 Spring Mountain Rd. Suite 1B Las Vegas, NV 89146</li>
        </ul>
        <a class="button button-positive button-block" href="tel:702-258-7885">Phone: (702) 258-7885</a>
        <br />
        <a class="button button-positive button-block" href="tel:800-782-7201">Phone: (800) 782-7201</a>
        <br />
        <a class="button button-positive button-block" href="tel:702-258-7836">Fax: (702) 258-7836</a>
        <br />
        <button class="button button-positive button-block" onclick="window.location.href = 'mailto:office@nevadapta.org'">office@nevadapta.org</button>
      </div>
      <br />
      <hr />
      <div class="card">
        <h1 class="positive" style="text-align:center;">National PTA</h1>
        <ul class="list">
          <li class="item item-text-wrap">1250 North Pitt Street Alexandria, VA 22314</li>
        </ul>
        <br />
        <a class="button button-positive button-block" href="tel:703-518-1200">Phone: (703) 518-1200</a>
        <br />
        <a class="button button-positive button-block" href="tel:703-836-0942">Fax: (703) 836-0942</a>
        <br />
        <button class="button button-positive button-block" onclick="window.open('http://www.pta.org/', '_system', 'location=yes'); return false;">PTA.org</button>
      </div>
      <br />
      <hr />
      <div class="card">
        <h1 class="positive" style="text-align:center;">National PTA Customer Service</h1>
        <ul class="list">
          <li class="item item-text-wrap">Monday-Friday 8:30 am – 5:00 pm Eastern Time</li>
        </ul>
        <br />
        <a class="button button-positive button-block" href="tel:800-307-4PTA">(800) 307-4PTA (4782)</a>
        <button class="button button-positive button-block" onclick="window.location.href = 'mailto:info@pta.org'">info@pta.org</button>
      </div>
      <br />
      <hr />
      <div class="card">
        <h1 class="positive" style="text-align:center;">National PTA Government Services</h1>
        <ul class="list">
          <li class="item item-text-wrap">1090 Vermont Ave. NW, Ste. 1200 Washington, DC 20005-4905</li>
        </ul>
        <button class="button button-positive button-block" onclick="window.location.href = 'mailto:info@pta.org'">info@pta.org</button>
      </div>
      <br />
      <hr />
      <div class="card">
        <h1 class="positive" style="text-align:center;">Nevada PTA Regions</h1>
        <ul class="list">
          <li class="item item-divider">Region 1</li>
            <li class="item item-text-wrap">Washoe County, Storey County, Douglas County, Carson City County</li>
            <li class="item item-textwrap">Toni Elam, Director, Region 1</li>
        </ul>
        <button class="button button-positive button-block" onclick="window.location.href = 'mailto:toninvpta@yahoo.com'">toninvpta@yahoo.com</button>
        <br />
        <ul class="list">
          <li class="item item-divider">Region 2</li>
            <li class="item item-text-wrap">Humboldt County, Pershing Country, Lander County, Elko County, Eureka County, White Pine County, Lyon County, Esmeralda County, Churchill County, Northern Nye County</li>
            <li class="item item-text-wrap">Leticia Servin, Director, Region 2</li>
        </ul>
        <button class="button button-positive button-block" onclick="window.location.href = 'mailto:lsenda@aol.com'">lsenda@aol.com</button>
        <br />
        <ul class="list">
          <li class="item item-divider">Region 3</li>
            <li class="item item-text-wrap">Lincoln, Clark County, Southern Nye County (Pahrump/Beatty)</li>
            <li class="item item-text-wrap">Diane Kinsel, Director, Region 3</li>
        </ul>
        <button class="button button-positive button-block" onclick="window.location.href = 'mailto:office@nevadapta.org'">office@nevadapta.org</button>
      </div>
  </ion-content>
</ion-view>
