<ion-view title="Convention" id="page11" style="">
  <ion-content padding="true" class="has-header">
   <div class="card">
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right"> Convention is April 27-29, 2017 at Texas Station 2101 Texas Star Ln, North Las Vegas NV 89032</p>
      <p style="font-size:16px;text-indent:15px; text-align:justify;"  class="padding-left padding-right">To register for convention online with a debit or credit card: </p>
      <button class="button button-positive button-block" onclick="window.open('http://www.memberplanet.com/s/nevadapta/2017conregpe', '_system', 'location=yes'); return false;">Tap Here to Register</button>
   </div>
  </ion-content>
</ion-view>
