<ion-view title="Our Sponsors" id="page13" style="">
  <ion-content padding="true" class="has-header">
   <div class="card">
    <h1 style="text-align:center;" class="positive">Nevada PTA Sponsors</h1>
    <br />
    <h2 style="text-align: center;" class="positive">AIM Transparent</h2>
    <img src="img/AIM_Logo_Transparent.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;"/>
    <br />
    <hr />
    <h2 style="text-align:center;" class="positive">America First: Credit Union</h2>
    <img src="img/AFCU.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;"/>
    <br />
    <hr />
    <h2 style="text-align: center;" class="positive">Cowabunga Bay Water Park</h2>
    <img src="img/CCB.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;"/>
    <br />
    <hr />
    <h2 style="text-align: center;" class="positive">Jack in the box</h2>
    <img src="img/JITB.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;"/>
    <br />
    <hr />
    <h2 style="text-align: center;" class="positive">Krispy Kreme</h2>
    <img src="img/KrKi.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;"/>
    <br />
    <hr />
    <h2 style="text-align: center;" class="positive">Mountain America Credit Union</h2>
    <img src="img/MACU.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;"/>
    <br />
    <hr />
    <h2 style="text-align: center;" class="positive">Naka Apparel</h2>
    <img src="img/NAP.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;"/>
    <br />
  </div>
  </ion-content>
</ion-view>
