<ion-view title="Resources" id="page12" style="">
  <ion-content padding="true" class="has-header">
    <div class="card">
      <button class="button button-positive button-block" ui-sref="menu.leaderForms">Link To PTA Leader Forms</button>
        <h1 class="positive" style="text-align:center;">For Parents</h1>
        <br />
        <h2 class="positive" style="text-align:center;">Parent Involvement</h2>
        <br />
        <h3 class="positive" style="text-align:center;">What is Parent Involvement?</h3>
        <br />
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Research shows that students with parents who are involved in their children’s education achieve more. Exactly what is “parent involvement?” Some parents have the time available to volunteer in a classroom or serve on committees; others have more limited opportunities. Being involved in your children’s education at home is actually the best place to begin.</p>
        <h3 class="positive" style="text-align:center;">Make a Difference</h3>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Below are a few things you can do with your children on a daily basis that will make a difference in their education:</p>
        <ul class="list">
          <li class="item item-text-wrap">• Encourage your children to develop a reading habit. Read to or with your children every day. Encourage independent reading and make frequent trips to the library.</li>
          <li class="item item-text-wrap">• Provide your children with appropriate reading and writing materials.</li>
          <li class="item item-text-wrap">• Take an interest in your children’s schoolwork and activities. Talk about what they are learning, look at papers brought home from school, and help with and/or review homework assignments.</li>
          <li class="item item-text-wrap">• Designate a workplace for your children, and identify a specific time each day when homework will be completed.</li>
          <li class="item item-text-wrap">• Communicate with your children’s teachers through notes, phone calls, and visits. Be aware of your children’s strengths and weaknesses and ask what role you can play to help your children reach their potential.</li>
          <li class="item item-text-wrap">• Play games that help your children read and practice basic math facts and computations.</li>
          <li class="item item-text-wrap">• Visit locations such as parks, museums, zoos, colleges and universities, and local landmarks with your children. Provide exposure to activities and experiences to broaden their understanding of the work around them.</li>
          <li class="item item-text-wrap">• Make learning relevant. Ask your children to do things such as count money, write grocery lists, calculate costs, read menus, read the newspaper, write letters – that require them to use the information they are learning in school.</li>
          <li class="item item-text-wrap">• Talk to and listen to your children every day.</li>
        </ul>
        <br />
        <h3 class="positive" style="text-align:center;">At Your Child’s School</h3>
        <ul class="list">
          <li class="item item-text-wrap">• Library/Media Committee – This committee reviews library books and textbooks when concerns are expressed. Two parents at each school are chosen to serve on this committee.</li>
          <li class="item item-text-wrap">• School Generated Funds/Budget Committee – One parent serves on this committee at each school to help determine fund expenditures.</li>
          <li class="item item-text-wrap">• School Safety Committee – A parent is selected to work with this committee to help develop and implement a school safety plan.</li>
          <li class="item item-text-wrap">• Learning Improvement Team (LIT) – The Learning Improvement Team, with two positions for parents, develops a school improvement plan, designed to increase student learning, which is coordinated with the Professional Development Center and the Academic Council.</li>
          <li class="item item-text-wrap">• Parenting classes – Many schools offer classes on parenting skills. Call your school’s office or the District Office for information on available classes.</li>
          <li class="item item-text-wrap">• PTA- Many opportunities exist for parents to serve through parent organizations. Attend meetings to get involved; call your school’s office for details.</li>
          <li class="item item-text-wrap">• School functions – Attend special events such as open house, parent/teacher conferences, concerts, and other events. Read your school’s newsletter or bulletins or call your school’s office for information about special events.</li>
          <li class="item item-text-wrap">• Parent surveys – Take the time to respond to questionnaires sent to you by your principal. Surveys allow parents opportunities for input and provide valuable feedback to principals.</li>
          <li class="item item-text-wrap">• Classroom volunteers – Check with your child’s teacher to see how you can volunteer in the classroom. If you would like to visit your child’s classroom, please notify your principal to make arrangements.</li>
          <li class="item item-text-wrap">• Use the telephone – Need more information? Call your school and talk to the office staff, principal, or your child’s teacher. If you want to discuss your child’s schoolwork progress, call and arrange an appointment with the teacher.</li>
        </ul>
      </div>
      <br />
      <div class="card">
        <h3 class="positive" style="text-align:center;">Clark County School District Information</h3>
        <br />
        <h3 class="positive" style="text-align:center;">Through District Opportunities</h3>
        <ul>
          <li class="item item-text-wrap">• Attendance Zone Advisory Commission (AZAC) – AZAC reviews attendance zones every year and provides recommendations to trustees concerning necessary changes to attendance boundaries. The 15-member committee consists of individuals from the community, appointed by the Board of School Trustees. All meetings are open to the public.</li>
          <li class="item item-text-wrap">• Bond Oversight Committee (BOC) – An independent 19-member body that monitors compliance with building program goals, advises the Board of School Trustees on capital bond fund construction programs, and keeps the public informed. BOC members are appointed by the Board of School Trustees. The public is invited to attend these meetings.</li>
          <li class="item item-text-wrap">• Friends of Special Education – A support group for parents with children requiring special services. Parents who have concerns about their child’s education, IEP, or services are matched with a parent volunteer from the Friends network whose child has the same type of disability, and who can provide direction and suggestions.</li>
          <li class="item item-text-wrap">• Sex Education Committee – An advisory committee, consisting of parents and community members, who advise the board concerning the content and materials to be used in classroom instruction, and the recommended grade levels at which the instruction is offered.</li>
          <li class="item item-text-wrap">• Ad Hoc Committees – From time to time, the board creates committees with the task of studying specific concerns, such as reading or the dropout rate. Parents are often appointed by trustees to serve on these committees.</li>
          <li class="item item-text-wrap">• Newsletter Mailing List – Some board members send newsletters on a regular basis. If you would like to be included on a mailing list, please call the
            <u><a onclick="window.open('http://ccsd.net/areas/', '_system', 'location=yes'); return false;" class="positive">Area Service Center.</a></u>
          </li>
          <li class="item item-text-wrap">
            <b>• Through Your Board of Trustees.</b>
          </li>
          <li class="item item-text-wrap">• Parent Advisory Committees (PAC) – Each trustee organizes a PAC designed specifically to encourage communication between parents and board members. Call thebutton-block <u><a onclick="window.open('http://ccsd.net/areas/', '_system', 'location=yes'); return false;">
            Area Service Center</a></u> or the <u><a onclick="window.open('http://ccsd.net/trustees/', '_system', 'location=yes'); return false;">School Board Office</a></u> to learn about the time and location of your trustee’s PAC meetings.</li>
          <li class="item item-text-wrap">• Regular Board Meetings– School board meetings are held on the second and fourth Thursdays of each month. Meetings begin at 5:30 p.m.; citizens wishing to address the board at these meetings must sign up to speak by calling (702) 799-5307 or (702) 799-5310 between 7:30 a.m. the day prior to and 2:00 p.m. the day of the meeting. Although the public is encouraged to attend board meetings, they are also encouraged to attend the committee meetings listed above to have greater input on matters of concern to them.</li>
        </ul>
      </div>
      <br />
      <hr />
      <div class="card">
        <h3 class="positive" style="text-align:center;">For Vendors</h3>
        <button class="button button button-positive button-block" onclick="window.open('http://nevadapta.org/summer-leadership-training-vendor-information/', '_system', 'location=yes'); return false;">Summer Leadership 2015 Vendor Information</button>
      </div>
  </ion-content>
</ion-view>
