<ion-view title="Search" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <form id="search-form1" class="list">
      <label class="item item-input" id="search-search1" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Search" type="search" ng-model="searchQuery">
      </label>
    </form>
    <ion-list>
      <ion-item ng-repeat="search in searchList | filter:searchQuery" style="font-size:16px; text-align:center; color:#13406A" class="positive item" ui-sref="{{search.tabLink}}">{{search.tab}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
