<ion-view title="Convención" id="page32" style="">
  <ion-content padding="true" class="has-header">
   <div class="card">
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right"> Convención es 27-29 de abril de 2017 en la Estación de Texas 2101 Texas Star Ln, North Las Vegas NV 89032</p>
      <p style="font-size:16px;text-indent:15px; text-align:justify;"  class="padding-left padding-right">Para registrarse en convención en línea con una tarjeta de débito o de crédito: </p>
      <button class="button button-positive button-block" onclick="window.open('http://www.memberplanet.com/s/nevadapta/2017conregpe', '_system', 'location=yes'); return false;">Toque aquí para registrarse</button>
   </div>
  </ion-content>
</ion-view>
