<ion-view title="Abogacía" id="page30" style="">
	<ion-content padding="true" class="has-header">
		<div>
      <div class="card">
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">La 78a Sesión Legislativa ha comenzado oficialmente! Obtenga información actualizada sobre los proyectos de ley y los asuntos que Nevada PTA está siguiendo. Texto @ NVPTALeg15 a
          <u><a href="tel:23559">23559</a></u> y únase a nuestro
          <u><a onclick="window.open('https://www.facebook.com/nvptaadvocacy', '_system', 'location=yes'); return false;">PTA de Nevada - Página de Advocacy en Facebook.</a></u>
        </p>
      </div>
      <br />
      <hr />
      <div class="card">
        <h1 class="positive" style="text-align:center;">¿Por qué abogamos?</h1>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Parte de la PTA Nacional es triple misión es hablar en nombre de todos los niños y jóvenes ante organismos gubernamentales y otras organizaciones. Durante más de 100 años, los voluntarios de la PTA han utilizado su tiempo, energía, experiencia y conocimiento para lograr cambios en leyes, políticas y programas en beneficio de los niños.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Con el fin de mantener un estado sin fines de lucro en virtud de las normas federales, la Nevada PTA es no partidista y trabaja para dirigir sus esfuerzos en los miembros de ambos partidos políticos con el fin de promulgar el cambio. Cuando los funcionarios o cabilderos de la PTA participan en actividades legislativas que educan a los legisladores sobre posiciones adoptadas oficialmente por la PTA, o apoyan una legislación particular que está de acuerdo con el Programa Legislativo de la PTA, se hace estrictamente no partidista.</p>
      </div>
      <br />
      <hr />
      <div class="card">
        <h1 class="positive" style="text-align:center;">¿Qué es la Abogacía?</h1>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">La abogacía puede desglosarse en partes básicas: el abogado, el asunto, la ley y el tomador de decisiones.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Cualquiera que hable por otro es un defensor. Los miembros de la PTA son defensores de los niños y sus padres.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Los miembros de la PTA abogan por una amplia variedad de temas relacionados con el niño: educación, salud, nutrición, seguridad, protección juvenil, reforma del bienestar, vida familiar y familiar y prevención del abuso de drogas, por nombrar algunos.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">La abogacía es simplemente comunicarse sobre un tema para el cual la PTA ha adoptado una posición hablando, escribiendo, llamando por teléfono, enviando un fax o enviando un correo electrónico. El propósito de la comunicación puede ser informar, educar, persuadir o aumentar el nivel de conciencia sobre el tema.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">El tomador de decisiones es cualquier individuo u organismo que tiene el poder de resolver el problema o resolver el problema. Los encargados de tomar decisiones incluyen funcionarios electos y designados, cuerpos legislativos, juntas escolares, comisionados del condado y jueces.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Cada miembro de la PTA puede ser un defensor eficaz. El proceso es siempre el mismo: identificar, investigar y comprender el tema; Identificar, investigar y comprender al tomador de decisiones; Y desarrollar y comunicar el mensaje. El proceso no siempre es fácil, y la dedicación y la perseverancia suelen ser necesarios. A veces el éxito se logra rápidamente, a veces lentamente.</p>
      </div>
      <br />
      <hr />
      <div class="card">
        <h1 class="positive" style="text-align:center;">El conocimiento es poder: 10 consejos para una defensa efectiva</h1>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Conozca su problema. Una comprensión profunda de la cuestión es crítica. Obtenga los datos, complete la investigación, lea los artículos, consulte a los expertos. Asegúrese de definir el problema correctamente, de lo contrario no podrá identificar el remedio adecuado.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Conozca sus metas. Establezca metas realistas que se pueden lograr.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Conozca sus limitaciones. Evaluar su organización es habilidades y recursos y asegúrese de que no están excediendo sus límites. Calcule cuánto tiempo y cuántas personas necesitarán estar involucradas y determine si sus necesidades pueden ser cubiertas por los recursos existentes.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Conozca el nivel de apoyo a la membresía. Muchas cuestiones importantes pueden no obtener un apoyo generalizado. Las cuestiones que abordan las preocupaciones de los miembros y presentan una probabilidad de éxito motivarán a más personas a actuar.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Conozca a sus aliados. Identificar y llegar a individuos o grupos que puedan apoyar su posición sobre el tema. Cuanto más amplio es el apoyo a un tema, mayor es la oportunidad de éxito.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Conozca su oposición. Identificar la oposición potencial y entender los argumentos opuestos. Determinar los recursos de la oposición y medir lo poderosos que pueden ser.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Conozca sus obstáculos. Incluso si no hay oposición organizada a un problema, puede haber obstáculos. El financiamiento es uno de los mayores obstáculos para lograr el éxito. A veces el obstáculo puede ser una ley o política existente que necesita ser cambiada. Identificar obstáculos le ayudará a evaluar la viabilidad de alcanzar sus metas.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Conozca a su tomador de decisiones. Identifique quién tiene el poder de ayudarle a resolver su problema. Podría ser un miembro del consejo escolar, un legislador, un comisionado del condado u otro funcionario electo. Una vez que el individuo o el cuerpo apropiado ha sido identificado, aprenda todo lo que pueda sobre ese individuo o cuerpo.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Conozca su mensaje. Diseñe un mensaje efectivo que sea simple y comprensible. Adapte su mensaje a la audiencia y mantenga el mensaje coherente. Asegúrese de que cada mensajero lleve el mismo mensaje.</p>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Conozca su propósito final. Siempre tenga en cuenta la razón por la que está involucrado - para mejorar la vida de los niños. No se sienta tan atrapado en los temas que no abogan eficazmente por los niños.</p>
      </div>
      <br />
      <hr />
      <div class="card">
        <h1 class="positive" style="text-align:center;">Subvención para Maestros de Credit Union de Mountain America</h1>
        <button class="button button button-positive button-block" onclick="window.open('http://nevadapta.org/wp-content/uploads/2016/02/Mountain-America-Nevada-PTA-Teacher-Grant-2016.pdf', '_system', 'location=yes'); return false;">Toque aquí para la aplicación</button>
      </div>
    </div>
  </ion-content>
</ion-view>
