<ion-view title="Nevada PTA Desarrolladores de Aplicaciones" id="page36" style="">
	<ion-content padding="true" class="has-header">
	<div class="card">
	 <h1 class="positive" style="text-align:center;">Estudio C</h1>
	<br />
	 <img src="img/C_logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; background-color: #387ef5;"/>
	<br />
	<p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Studio C es una empresa de diseño web basada en el cliente establecida en 2009 ubicada en Southwest Career and Technical Academy en Las Vegas, Nevada. Como una empresa dirigida por estudiantes, manejamos el negocio de una manera profesional y conveniente. Nuestros miembros experimentados y expertos desarrollarán sitios web originales, atractivos y de alta calidad que se adapten a las necesidades del cliente en todos los esfuerzos sin fines de lucro y de negocios.</p>
	<br />
	<button class="button button-positive button-block" onclick="window.open('https://studio-c-2017.github.io/', '_system', 'location=yes'); return false;">Visita nuestro sitio web</button>
	</div>
  </ion-content>
</ion-view>
