<ion-view title="Formularios Líderes" id="page34" style="">
  <ion-content padding="true" class="has-header">
    <div class="card">
      <h1 class="positive" style="text-align:center;">Formularios Líderes de PTA</h1>
      <h2 class="positive" style="text-align:center;">Formularios Financieros</h2>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Instrucciones de Auditoría de Nevada PTA</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Formulario de revisión financiera de auditoría</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Nevada PTA Evento Forma Financiera</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Formulario en blanco del plan de acción</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Carta de cheque devuelta</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Hoja de trabajo de conteo de efectivo</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Política de cheques NSF</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Plantilla de carta de subvención</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Cheque los Formularios de Solicitud</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Solicitud de fondos No hay clases</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Solicitud de subvención para maestros</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Recaudación de fondos 1a</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Plantilla de lista de miembros</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Formulario de remesas</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
    </div>
    <br />
    <hr />
    <div class="card">
      <h1 class="positive" style="text-align:center;">Entrenamiento de Oficiales</h1>
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Incoming Officers Guide</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">2016 Presidentes de Formación</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">2016 Entrenamiento de Tesoreros</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">2016 Secretary Bylaws Training</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">2016 Entrenamiento de la Junta SLT</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Normas para la afiliación continuada</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Lista de oficiales del Consejo del Lago Mead</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Estatutos de la Unidad Local</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Lista de oficiales en blanco</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
    </div>
    <br />
    <hr />
    <div class="card">
      <h1 class="positive" style="text-align:center;">Oficial / Entrenamiento de Liderazgo de Verano</h1>
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">2016 Nevada Programas PTA SLT</p>
      <button class="button button-positive button-block" onclick="window.open('http://nevadapta.org/pta-leader-forms/#', '_system', 'location=yes'); return false;">Pulse aquí para pulsar aquí para descargar</button>
    </div>
  </ion-content>
  </ion-view>
