<ion-view title="Premios PTA" id="page28" style="">
	<ion-content padding="true" class="has-header">
    <div class="card">
      <h1 class="positive" style="text-align:center;">Programa de Premios PTA de Nevada</h1>
      <br />
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Los líderes y miembros de la PTA brindan servicios innovadores a nuestros niños, a nuestras escuelas ya nuestras comunidades todos los días. El Programa de Premios de la PTA de Nevada está diseñado para reconocer y compartir los programas y logros especiales de la PTA y para honrar a las personas que ayudan a mejorar nuestras escuelas y comunidades para los niños.</p>
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">
        <u><a onclick="window.open('http://nevadapta.us2.list-manage2.com/track/click?u=a9b703c8a29ca49d505344d53&amp;id=f31553eedf&amp;e=212615cc12', '_system', 'location=yes'); return false;">Pulse Aquí</a></u> Para el paquete de premios, que incluye información sobre cada premio y cómo solicitarlo.</p>
      <h4 style="text-align:center;" class="padding-left padding-right">Las presentaciones de premios se deben a la oficina de la PTA de Nevada el lunes 7 de marzo de 2016 a las 3:00 pm.</h4>
      <h4 style="text-align:center;" class="padding-left padding-right">Las presentaciones de los premios de membresía se deben a la oficina de la PTA de Nevada el viernes, 8 de abril de 2016 a las 3:00 pm.</h4>
      <h3 class="positive" style="text-align:center;">
        <u><a onclick="window.open('http://nevadapta.us2.list-manage.com/track/click?u=a9b703c8a29ca49d505344d53&amp;id=ffde8699d0&amp;e=212615cc12', '_system', 'location=yes'); return false;">Premios PTA de Nevada en un vistazo</a></u>
      </h3>
      <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">Aquí está solo un breve resumen de las muchas maneras diferentes en que su PTA puede ser reconocida, y maneras en que su PTA puede reconocer a personas especiales en su escuela o comunidad. (No todos los premios se enumeran aquí, asegúrese de revisar el paquete de premios!)</p>
      <h4 style="text-align:justify;" class="padding-left padding-right">
        <u><a onclick="window.open('http://nevadapta.us2.list-manage.com/track/click?u=a9b703c8a29ca49d505344d53&amp;id=cc942be3ec&amp;e=212615cc12', '_system', 'location=yes'); return false;" class="positive">Premios PTA para el logro de Nevada</a></u> - Vea el calendario de su PTA ahora para estar seguro de que su PTA está patrocinando actividades para cada uno de los cinco propósitos de PTA. <u><a onclick="window.open('http://www.memberplanet.com/s/nevadapta/ptaachievementaward2016', '_system', 'location=yes'); return false;">Presiona para aplicar en línea.</a></u>
      </h4>
      <ul class="list">
        <li class="item item-text-wrap">
          <b>• Premio al logro PTA excepcional:</b> Se otorga a una PTA que califica para el premio Gold PTA, y tiene un aumento en la membresía, 90% de membresía en el personal, y participó en cuatro (4) actividades patrocinadas por la PTA Nacional o Nevada.</li>
        <li class="item item-text-wrap">
          <b>• Gold PTA Achievement Award: </b> Completa tres (3) actividades para cada uno de los cinco propósitos de PTA.</li>
        <li class="item item-text-wrap">
          <b>• Silver PTA Achievement Award: </b> Completa una (1) actividad para cada uno de los cinco propósitos de PTA.</li>
        <li class="item item-text-wrap">
          <b>• Dixie Worden Humanitarian Award: </b> otorgado a una PTA que implementa una actividad o programa excepcional que promueve la salud y / o el bienestar de los niños.</li>
        <li class="item item-text-wrap">
          <b>• Premio Spotlight:</b> Dado a la PTA con el boletín más destacado de la PTA, mensaje social o multimedia.</li>
        <li class="item item-text-wrap">
          <b>• Premio Hank Etchemendy de Defensa:</b> Dado a un PTA, voluntario u otro funcionario público que ha defendido una causa que beneficia a los niños en el área local o en todo el estado de Nevada.</li>
        <li class="item item-text-wrap">
          <b>•Premio de participación masculina:</b> Dado a una PTA que trabajó con su escuela o comunidad para aumentar la participación masculina de una manera que era mensurable dentro de la escuela.</li>

      </ul>
      <br />
      <h4 style="text-align:center;" class="padding-left padding-right">
        <u><a onclick="window.open('http://nevadapta.us2.list-manage.com/track/click?u=a9b703c8a29ca49d505344d53&amp;id=52614976b3&amp;e=212615cc12', '_system', 'location=yes'); return false;" class="positive">Reconocimiento de la PTA de Nevada</a></u> - Reconozca a las personas especiales en la comunidad de su PTA.</h4>
      <ul class="list">
        <li class="item item-text-wrap">
          <b>•Ann T. Lynch Premio pendiente de Padres de PTA:</b> Padre, abuelo, guardián u otro voluntario que brindó un servicio excepcional a una escuela o PTA y ayudó a promover los Estándares Nacionales para las Alianzas Familia-Escuela.</li>
        <li class="item item-text-wrap">
          <b>• Premio de Participación Juvenil:</b> Los nominados para este premio son estudiantes que están activos en la escuela y dentro de la comunidad.</li>
        <li class="item item-text-wrap">
          <b>• Premio Maestro del Año:</b> Maestro que efectivamente promueve Estándares Nacionales para las Asociaciones Familia - Escuela.</li>
        <li class="item item-text-wrap">
          <b>• Lynel Cunningham Administradora del Año:</b> Administrador que promueve de manera más efectiva los Estándares PTA Nacionales para las Alianzas Familia-Escuela.</li>
        <li class="item item-text-wrap">
          <b>• Bob Huwe Premio a la participación de la comunidad:</b> PTA y organización comunitaria, empresa o individuo que colaboraron para fortalecer las Asociaciones de Familia-Escuela de la PTA Nacional.</li>
        <li class="item item-text-wrap">
          <b>• Sandy Miller Compromiso de compromiso y diversidad:</b> Reconoce a individuos o grupos que se han comprometido a abrazar, mejorar y celebrar la diversidad y el compromiso familiar en nuestras escuelas.</li>
      </ul>
      <br />
      <h4 class="padding-left padding-right" style="text-align:center;">
        <u><a onclick="window.open('http://nevadapta.us2.list-manage.com/track/click?u=a9b703c8a29ca49d505344d53&amp;id=72326e1dd9&amp;e=212615cc12', '_system', 'location=yes'); return false;">Nevada PTA Membership Awards</a></u> – ¡Reconocimiento por el gran trabajo que su PTA está haciendo con la membresía de PTA este año!</h4>
      <ul class="list">
        <li class="item item-text-wrap">
          <b>• Construyendo un Premio a la Comunidad Mejor:</b> Dado a las PTAs que han demostrado que abrazan esta filosofía al hacer que su meta sea llegar a sus comunidades y traer a miembros que no son ni padres, maestros ni estudiantes, sino que aún sienten que son actores en la educación y el bienestar, Ser de todos los niños.</li>
        <li class="item item-text-wrap">
          <b>• Premio de Membresía de Hombre:</b> Dado a PTAs que fomentan un ambiente positivo para, y reclutar activamente la membresía de, hombres en sus PTAs.</li>
        <li class="item item-text-wrap">
          <b>• 100% Membresía:</b> PTA con el mismo número de miembros que los estudiantes matriculados en la escuela de la PTA.</li>
        <li class="item item-text-wrap">
          <b>• 75% Membresía:</b> PTA cuya membresía es el 75% o más del número de estudiantes matriculados en la escuela de la PTA.</li>
        <li class="item item-text-wrap">
          <b>• 100% Membresía del personal:</b> PTA cuyo personal miembros de la PTA es el mismo que el número de personal con licencia en la escuela.</li>
        <li class="item item-text-wrap">
          <b>• Nick Poulakidas Premio de la promoción de la calidad de miembro:</b> PTA con la mejor campaña de membresía elegida por los delegados a la convención de Nevada PTA. Traiga su tablero de la historia para demostrar apagado su trabajo duro.</li>
      </ul>
      <br />
      <h4 style="text-align:center;">Premios de Membresía que su PTA no necesita para solicitar:</h4>
      <ul class="list">
        <li class="item item-text-wrap">
          <b>• El premio Early Bird:</b> Dado a PTAs que hacen su primer pago de membresía en o antes del 29 de octubre de 2015 Y el pago es por lo menos la mitad de los miembros totales de la PTA del año anterior. Sólo los pagos recibidos en la oficina a más tardar el 29 de octubre de 2015 son elegibles.</li>
        <li class="item item-text-wrap">
          <b>• Aumento de miembros:</b> PTA que tiene más miembros para el año de membresía actual que el año anterior.</li>
        <li class="item item-text-wrap">
          <b>• Premio de Membresía:</b> Dado a 2 PTAs (uno de la Región 1,2 y uno de la Región 3) con la mayoría de los miembros.</li>
      </ul>
    </div>
  </ion-content>
</ion-view>
