<ion-view title="Recursos" id="page33" style="">
  <ion-content padding="true" class="has-header">
    <div class="card">
      <button class="button button-positive button-block" ui-sref="menu.spanLeader">Enlace a los Formularios Líderes de la PTA</button>
        <h1 class="positive" style="text-align:center;">Para padres</h1>
        <br />
        <h2 class="positive" style="text-align:center;">Participación de los padres</h2>
        <br />
        <h3 class="positive" style="text-align:center;">¿Qué es la participación de los padres?</h3>
        <br />
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">La investigación muestra que los estudiantes con padres que participan en la educación de sus hijos logran más. Exactamente lo que es "participación de los padres"? Algunos padres tienen el tiempo disponible para ser voluntarios en un salón de clases o servir en comités; Otros tienen más oportunidades limitadas. Estar involucrado en la educación de sus hijos en casa es realmente el mejor lugar para comenzar.</p>
        <h3 class="positive" style="text-align:center;">Hacer la diferencia</h3>
        <p style="font-size:16px;text-indent:15px; text-align:justify;" class="padding-left padding-right">A continuación se presentan algunas cosas que usted puede hacer con sus hijos a diario que harán una diferencia en su educación:</p>
        <ul class="list">
          <li class="item item-text-wrap">• Anime a sus hijos a desarrollar un hábito de lectura. Lea a o con sus hijos todos los días. Fomente la lectura independiente y haga viajes frecuentes a la biblioteca.</li>
          <li class="item item-text-wrap">• Proporcione a sus hijos materiales apropiados de lectura y escritura.</li>
          <li class="item item-text-wrap">• Interésese en el trabajo escolar y actividades de sus hijos. Hable acerca de lo que está aprendiendo, vea los papeles traídos de la escuela, ayude con y / o revise las tareas.</li>
          <li class="item item-text-wrap">• Designe un lugar de trabajo para sus hijos e identifique un horario específico cada día cuando se complete la tarea.</li>
          <li class="item item-text-wrap">• Comuníquese con los maestros de sus hijos a través de notas, llamadas telefónicas y visitas. Sea consciente de las fortalezas y debilidades de sus hijos y pregúntele qué papel puede desempeñar para ayudar a sus hijos a alcanzar su potencial.</li>
          <li class="item item-text-wrap">• Juegue juegos que ayuden a sus hijos a leer y practicar hechos matemáticos básicos y cálculos.</li>
          <li class="item item-text-wrap">• Visite lugares como parques, museos, zoológicos, colegios y universidades, y monumentos locales con sus hijos. Proporcionar la exposición a actividades y experiencias para ampliar su comprensión del trabajo alrededor de ellos.</li>
          <li class="item item-text-wrap">• Hacer que el aprendizaje sea relevante. Pida a sus hijos que hagan cosas como contar dinero, escribir listas de comestibles, calcular los costos, leer menús, leer el periódico, escribir cartas - que requieren que usen la información que están aprendiendo en la escuela.Hacer que el aprendizaje sea relevante. Pida a sus hijos que hagan cosas como contar dinero, escribir listas de comestibles, calcular los costos, leer menús, leer el periódico, escribir cartas - que requieren que usen la información que están aprendiendo en la escuela.</li></li>
          <li class="item item-text-wrap">• Hable y escuche a sus hijos todos los días.</li>
        </ul>
        <br />
        <h3 class="positive" style="text-align:center;">En la escuela de su hijo</h3>
        <ul class="list">
          <li class="item item-text-wrap">• Comité de Biblioteca / Medios - Este comité revisa los libros de la biblioteca y los libros de texto cuando se expresan sus preocupaciones. Dos padres en cada escuela son escogidos para servir en este comité.</li>
          <li class="item item-text-wrap">• Fondos generados por la escuela / Comité de Presupuesto - Un padre sirve en este comité en cada escuela para ayudar a determinar los gastos del fondo.</li>
          <li class="item item-text-wrap">• Comité de Seguridad Escolar - Un padre es seleccionado para trabajar con este comité para ayudar a desarrollar e implementar un plan de seguridad escolar.</li>
          <li class="item item-text-wrap">• Equipo de Mejoramiento de Aprendizaje (LIT) - El Equipo de Mejoramiento de Aprendizaje, con dos posiciones para padres, desarrolla un plan de mejoramiento escolar, diseñado para incrementar el aprendizaje de los estudiantes, coordinado con el Centro de Desarrollo Profesional y el Consejo Académico.</li>
          <li class="item item-text-wrap">• Clases para padres - Muchas escuelas ofrecen clases sobre habilidades parentales. Llame a la oficina de su escuela oa la Oficina del Distrito para obtener información sobre las clases disponibles.</li>
          <li class="item item-text-wrap">• PTA- Existen muchas oportunidades para que los padres sirvan a través de las organizaciones de padres. Asistir a reuniones para involucrarse; Llame a la oficina de su escuela para obtener detalles.</li>
          <li class="item item-text-wrap">• Funciones escolares - Asista a eventos especiales tales como conferencias abiertas, conferencias de padres / maestros, conciertos y otros eventos. Lea el boletín o boletines de su escuela o llame a la oficina de su escuela para obtener información sobre eventos especiales.</li>
          <li class="item item-text-wrap">• Encuestas a los padres - Tómese el tiempo para responder a los cuestionarios enviados por su director. Las encuestas permiten a los padres oportunidades de aportación y proporcionan información valiosa a los directores.</li>
          <li class="item item-text-wrap">• Voluntarios de la clase - Consulte con el maestro de su hijo para ver cómo puede ser voluntario en el salón de clases. Si desea visitar el aula de su hijo, por favor notifique a su director para hacer arreglos.</li>
          <li class="item item-text-wrap">• Use el teléfono - ¿Necesita más información? Llame a su escuela y hable con el personal de la oficina, el director o el maestro de su hijo. Si desea hablar sobre el progreso del trabajo escolar de su hijo, llame y haga una cita con el maestro.</li>
        </ul>
      </div>
      <br />
      <div class="card">
        <h3 class="positive" style="text-align:center;">Información del Distrito Escolar del Condado de Clark</h3>
        <br />
        <h3 class="positive" style="text-align:center;">A través de las Oportunidades del Distrito</h3>
        <ul>
          <li class="item item-text-wrap">• Comisión Asesora de Zona de Asistencia (AZAC) - AZAC revisa las zonas de asistencia cada año y proporciona recomendaciones a los custodios sobre los cambios necesarios a los límites de asistencia. El comité de 15 miembros consta de individuos de la comunidad, nombrados por la Junta de Curadores Escolares. Todas las reuniones estan abiertas al publico.</li>
          <li class="item item-text-wrap">• Comité de Supervisión de Obligaciones (BOC, por sus siglas en inglés) - Un organismo independiente de 19 miembros que monitorea el cumplimiento de las metas del programa de construcción, asesora a la Junta de Fideicomisarios Escolares sobre los programas de construcción de fondos de bonos de capital y mantiene informado al público. Los miembros del BOC son nombrados por el Consejo de Curadores Escolares. Se invita al público a asistir a estas reuniones.</li>
          <li class="item item-text-wrap">• Amigos de Educación Especial - Un grupo de apoyo para padres con niños que requieren servicios especiales. Los padres que tienen inquietudes acerca de la educación de su hijo, IEP o servicios son emparejados con un padre voluntario de la red de Amigos cuyo hijo tiene el mismo tipo de discapacidad y que puede proporcionar dirección y sugerencias.</li>
          <li class="item item-text-wrap">• Comité de Educación Sexual - Un comité consultivo, compuesto por padres y miembros de la comunidad, que asesoran al consejo sobre el contenido y materiales que se usan en la instrucción en el aula, y los niveles de grado recomendados en los que se ofrece la instrucción.</li>
          <li class="item item-text-wrap">• Comités Ad Hoc - De vez en cuando, el consejo crea comités con la tarea de estudiar las preocupaciones específicas, como la lectura o la tasa de deserción escolar. Los padres son nombrados a menudo por los custodios para servir en estos comités.</li>
          <li class="item item-text-wrap">• Newsletter Mailing List - Algunos miembros del consejo envían boletines periódicamente. Si desea ser incluido en una lista de correo, llame al
            <u><a onclick="window.open('http://ccsd.net/areas/', '_system', 'location=yes'); return false;" class="positive">Area Service Center.</a></u>
          </li>
          <li class="item item-text-wrap">
            <b>• A través de su Junta de Síndicos.</b>
          </li>
          <li class="item item-text-wrap">• Comités Asesores de Padres (PAC) - Cada administrador organiza un PAC diseñado específicamente para alentar la comunicación entre padres y miembros del consejo. Llamar al bloque de botones <u><a onclick="window.open('http://ccsd.net/areas/', '_system', 'location=yes'); return false;">
            Centro de servicios de área</a></u> o el <u><a onclick="window.open('http://ccsd.net/trustees/', '_system', 'location=yes'); return false;">Oficina de la Junta Escolar </a> </u> para conocer el horario y la ubicación de las reuniones de PAC de su administrador.</li>
          <li class="item item-text-wrap">• Reuniones Regulares de la Junta- Las reuniones de la junta escolar se llevan a cabo el segundo y cuarto jueves de cada mes. Las reuniones comienzan a las 5:30 p.m .; Los ciudadanos que deseen dirigirse a la junta en estas reuniones deben firmar para hablar llamando al (702) 799-5307 o (702) 799-5310 entre las 7:30 am el día anterior y las 2:00 p.m. el día de la reunión. Aunque se anima al público a asistir a las reuniones del consejo, también se les anima a asistir a las reuniones del comité mencionadas anteriormente para tener mayor contribución en asuntos que les conciernen.</li>
        </ul>
      </div>
      <br />
      <hr />
      <div class="card">
        <h3 class="positive" style="text-align:center;">Para los vendedores</h3>
        <button class="button button button-positive button-block" onclick="window.open('http://nevadapta.org/summer-leadership-training-vendor-information/', '_system', 'location=yes'); return false;">Liderazgo de verano 2015 Información del vendedor</button>
      </div>
  </ion-content>
</ion-view>
