<ion-view title="Casa" id="page19" style="">
	<ion-content padding="true" class="has-header">
    <div>
      <h1 class="positive" style="text-align:center;">Menú</h1>
      <br />
      <ion-list class="list">
				<!-- Link to English Home. -->
        <ion-item class="item-icon-left positive" style="" ui-sref="menu.home">Hogar Inglés<i class="icon ion-home positive"></i></ion-item>
				<!-- Link to Search ?? -->
        <ion-item class="item-icon-left positive" style="" ui-sref="menu.spanSearch">Buscar<i class="icon ion-search positive"></i></ion-item>
        <!-- Link to About Us -->
        <ion-item class="item-icon-left positive" style="" ui-sref="menu.spanAbout">Sobre nosotros<i class="icon ion-information-circled positive"></i></ion-item>
        <!-- Link to Contacts -->
        <ion-item class="item-icon-left positive" style="" ui-sref="menu.spanContact">Contáctenos<i class="icon ion-ios-telephone positive"></i></ion-item>
        <!-- Link to Latest News -->
        <ion-item class="item-icon-left positive" style="" ui-sref="menu.spanLatest">Últimas Noticias<i class="icon ion-document-text positive"></i></ion-item>
        <!-- Link to Messages -->
        <ion-item class="item-icon-left positive" style="" ui-sref="menu.spanMessages">Mensajes<i class="icon ion-email positive"></i></ion-item>
        <!-- Link to Events -->
        <ion-item class="item-icon-left positive" style="" ui-sref="menu.spanEvents">Eventos<i class="icon ion-calendar positive"></i></ion-item>
        <!-- Link to Programs -->
        <ion-item class="item-icon-left positive" style="" ui-sref="menu.spanPrograms">Programas<i class="icon ion-android-people positive"></i></ion-item>
        <!-- Link to Advocacy -->
        <ion-item class="item-icon-left positive" style="" ui-sref="menu.spanAdvocacy">Abogacía<i class="icon ion-android-hand positive"></i></ion-item>
        <!-- Link to Menbership -->
        <ion-item class="item-icon-left positive" style="" ui-sref="menu.spanMembership">Afiliación<i class="icon ion-person-add positive"></i></ion-item>
        <!-- Link to Convention -->
        <ion-item class="item-icon-left positive" style="" ui-sref="menu.spanConvention">Convención<i class="icon ion-ios-people-outline positive"></i></ion-item>
      <!-- Link to Resources -->
        <ion-item class="item-icon-left positive" style="" ui-sref="menu.spanResources">Recursos<i class="icon ion-document positive"></i></ion-item>
        <!-- Link to Our Sponsors -->
			  <ion-item class="item-icon-left positive" style="" ui-sref="menu.spanSponsors">Nuestros Patrocinadores<i class="icon ion-android-contacts positive"></i></ion-item>
        <!-- Link to Facebook -->
			  <ion-item class="item-icon-left positive" style="" onclick="window.open('http://www.facebook.com/nevadapta', '_system', 'location=yes'); return false;" >Facebook<i class="icon ion-social-facebook positive"></i></ion-item>
        <!-- Link to Twitter -->
			  <ion-item class="item-icon-left positive" style="" onclick="window.open('http://twitter.com/nevadapta', '_system', 'location=yes'); return false;">Gorjeo<i class="icon ion-social-twitter positive"></i></ion-item>
        <!-- Link to Studio C -->
			  <ion-item class="item-positive" style="" ui-sref="menu.spanStudioc">Desarrollado por Estudio C</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
